@font-face {
  font-family: ptsans;
  src: url(fonts/PTSans-Regular.ttf);
  font-weight: normal;
}
.left-panel{
  float: left;
}

.container{
  width: 60%;
  margin: auto;
}

.top-left-profile{
  background-color: #386B9A;
  padding: 20px;
  width: 450px;
  height: 50vh;
  border-radius: 5px;
}

img{
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

figure{
  text-align: center;
}

h1 {
  font-family: ptsans;
  font-size: 32pt;
  /* color: white; */
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;

}

h2{
  font-family: ptsans;
  font-size: 18pt;
  font-weight: normal;
  /* color: white; */
  text-align: center;
}

h3{
  font-family: ptsans;
  font-size: 15pt;
  font-weight: normal;
  /* color: white; */
  text-align: center;
}

h4{
  font-family: ptsans;
  font-size: 13pt;
  font-weight: normal;
  /* color: white; */
  text-align: center;
}

.left-menu-downloads{
  /* background-color: #DC6666; */
  background-color: #369640;
  width: 100%;
  height: 40vh;
  text-align: center;
  margin: 5px 5px 0 0;
  border-radius: 5px;
}


.resume{
  background-color: #386B9A;
  height: 90vh;
  margin-left: 455px;
  position: relative;
}
.box-1{
  position: absolute;
  background-color: white;
  height: 84vh;
  width: 98%;
  /* padding-top: 20px; */
  margin-left: 5px;
  /* margin-right: 5px; */
  margin-top: 15px;
  /* margin: auto; */
  border-radius: 2px;
  /* border-style: solid;
  border-color: red; */

}
footer{
  position: relative;
  background: #386B9A;
  width: 100%;
  height: 10vh;
  margin-top: 2px;
  border-radius: 5px;
  float: left;
}
.underlined{
  text-decoration: underline;
}
ul{

  font-family: ptsans;
  font-weight: normal;
  color: white;


}
.list-resume{
  margin-left: 200px;
  margin-right: 40px;
}

.list-downloads{
  margin: 0 40px 0 80px;
}

li{
  text-align: justify;
}
p{
  font-family: ptsans;
  margin: 0 80px;
  /* color: white; */
  padding: 10px;
  text-align: center;
}

.color-blue{
  color: #386B9A;
}

.color-white{
  color: white;
}

.download-cv{
  background-color: #369640;
  font-family: ptsans;
  font-weight: normal;
  text-align: center;
  padding: 5px 30px 5px 30px;
}

.button-download-cv{
  width: 200px;
  margin-top: 20px;
  margin-left: 150px;
}

a{
  text-decoration: none;
  text-align: center;
}
