@font-face {
  font-family: 'Permanent Marker';
  src: url(fonts/PermanentMarker-Regular.ttf);
  /* font-weight: regular; */
}

.font-permanentmarker{
  font-family: 'Permanent Marker';
  font-weight: 400;
}

.font-mono{
  font-family: monospace;
}
